.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #3d3d3d;
    border-radius: 15px;
    color: black;
    border: 3px solid black;
    box-shadow: -1px 1px 0px 0px, -2px 2px 0px 0px, -3px 3px 0px 0px, -4px 4px 0px 0px, -5px 5px 0px 0px;
}

.question {
    border: 3px solid black;
    box-shadow: -1px 1px 0px 0px, -2px 2px 0px 0px, -3px 3px 0px 0px, -4px 4px 0px 0px, -5px 5px 0px 0px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    padding: 20px;
    background: rgb(225, 230, 235);
    background: linear-gradient(45deg, rgba(225, 230, 235, 1) 0%, rgba(209, 224, 237, 1) 71%, rgba(194, 218, 238, 1) 100%);
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;

}



.true {
    background-color: rgb(35, 195, 35);
}

.false {
    background-color: rgb(255, 40, 40);
}